section.content {
	position: relative;
	-webkit-transition: left .25s ease-in-out;
	   -moz-transition: left .25s ease-in-out;
	    -ms-transition: left .25s ease-in-out;
	     -o-transition: left .25s ease-in-out;
	        transition: left .25s ease-in-out;
}
	section.content.anchor-comments-visible {
		left: 18em;
	}

.anchor-comment {
	font-size: 1em;
	position: absolute;
	top: 0em;
	left: -2.5em;
	padding: 0 .5em .5em;
	z-index: 998;

	-webkit-transition: all .25s ease-in-out;
	   -moz-transition: all .25s ease-in-out;
	    -ms-transition: all .25s ease-in-out;
	     -o-transition: all .25s ease-in-out;
	        transition: all .25s ease-in-out;
}
		.anchor-comment-link, .anchor-comment-link:visited {
			background: url('comment.png') center no-repeat;
			background-size: 1.5em;
			padding: 0 .6em .5em;
			color: white;
			font-weight: 900;
			font-size: .75em;
			font-family: "Helvetica Neue Light", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
			text-decoration: none;
			position: absolute;
			top: -.25em;
			left: -2.5em;
			opacity: 0;
			z-index: 999;
			-webkit-transition: opacity .25s ease-in-out;
			   -moz-transition: opacity .25s ease-in-out;
			    -ms-transition: opacity .25s ease-in-out;
			     -o-transition: opacity .25s ease-in-out;
			        transition: opacity .25s ease-in-out;
		}
		p:hover .anchor-comment-link,
		.anchor-comment-link.has-comments {
			opacity: .2;
		}
		@media (max-width: 768px) {
			.anchor-comment-link {
				opacity: .2 !important;
			}
		}
		.anchor-comment-link:hover,
		.anchor-comment-link.active {
			opacity: 1 !important;
			color: white;
			text-decoration: none;
		}
		.anchor-comment-link small {
			padding-top: .2em;
			display: inline-block;
		}
		p:hover .anchor-comment-link.has-comments {
			opacity: 1;
		}
		.anchor-comment .comment-count {
			position: absolute;
			color: #505762;
			right: 2em;
			top: -.2em;
		}
		.anchor-comment .commentlist,
		.anchor-comment form.comment {
			font-size: .75em;
			top: 0;
			right: 3em;
			padding: 0 .75em 0 0;
			position: absolute;
			width: 18em;
			color: #6e7886;
			display: none;
			text-align: right;
			background: white;
		}
			.anchor-comment ul.commentlist {
				max-height: 22em;
				overflow-y: auto;
				top: -1.75em;
			}
			.anchor-comment ul.commentlist li {
				padding: 0 .75em .75em;
				list-style: none;
			}

			.anchor-comment input, .anchor-comment textarea {
				width: 100%;
				padding: .5em .75em;

				font-size: 1em;
				font-weight: normal;

				border: 1px solid rgba(22,36,54,.2);
				border-radius: 4px;
				margin-bottom: .75em;
			}
				.anchor-comment input:focus, .anchor-comment textarea:focus {
					outline: none;
					background: #f7f9fc;
				}
				.anchor-comment textarea {
					min-height: 150px;
					max-height: 800px;
					resize: vertical;
				}
			.anchor-comment button {
				display: inline-block;
				padding: 9px 18px;

				background: #4e82ce;
				color: #fff;

				border: none;
				border-radius: 5px;
				cursor: pointer;

				font-size: 13px;
				font-weight: 500;
			}
				.anchor-comment button:hover {
					background: #3c6eb7;
				}

			.anchor-comment .anchor-comment-quote, .anchor-comment .anchor-comment-quote-display {
				background: transparent;
				border: 0;
				height: auto;
				/*overflow: hidden;*/
				font-size: 1.5em;
				opacity: .5;
				font-style: italic;
				margin-top: 1em;
			}

			#commentQuoteTooltip {
				background: #4e82ce;
				position: absolute;
				top: 0;
				left: 0;
				color: white;
				display: none;
				padding: .25em .75em;
				font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
				border-radius: 5px;
			}

			#commentQuoteTooltip:after {
				position: absolute;
				top: 100%;
				left: 50%;
				margin-left: -.5em;
				width: 0;
				height: 0;
				border-top: .5em solid #4e82ce;
				border-left: .5em solid transparent;
				border-right: .5em solid transparent;
				display: inline-block;
				content: ' ';
			}
